body {
    width: 180px;
    height: auto;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: darkcyan;
    font-size: 14px;
}

li {
    list-style-type: none;
    margin: 10px 0;
}

ul {
    padding: 5px
}

h2 {
    color: #555;
    border-bottom: 1px solid;
    padding-bottom: 5px;
    text-align: center;
}

span {
    color: #000;
    font-family: monospace;
    font-weight: bold;
    font-size: 15px;
}